@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full bg-[#000C1A] text-white;
}

*,
*::before,
*::after {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.onest-100 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.onest-200 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.onest-300 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.onest-400 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.onest-500 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.onest-600 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.onest-700 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.onest-800 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.onest-900 {
  font-family: "Onest", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
